<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h3 class="text-center my-4">Create a New Listing</h3>
          <% layout('/layouts/boilerplate') -%>
          <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="form-group">
              <label for="title" class="form-label">Enter Title:</label>
              <input
                name="listing[title]"
                class="form-control"
                placeholder="Enter Catchy Title"
                type="text"
                id="title"
                required
              />
              <div class="valid-feedback">
                Great title!
              </div>
              <div class="invalid-feedback">
                Please provide a title.
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="form-label">Enter Description:</label>
              <textarea
                name="listing[description]"
                placeholder="Describe.."
                class="form-control"
                id="description"
                required
              ></textarea>
              <div class="valid-feedback">
                Nice description!
              </div>
              <div class="invalid-feedback">
                Please provide a description.
              </div>
            </div>
            <div class="form-group">
              <label for="imagelink" class="form-label">Image Link:</label>
              <input
                name="listing[image]"
                class="form-control"
                type="file"
                id="imagelink"
                required
              />
              <div class="valid-feedback">
                Image Mast hai Boss!
              </div>
              <div class="invalid-feedback">
                Please provide an image link.
              </div>
            </div>
            <div class="form-group">
              <label for="price" class="form-label">Price:</label>
              <input
                name="listing[price]"
                placeholder="1200"
                class="form-control"
                id="price"
                required
              />
              <div class="valid-feedback">
                Price is valid!
              </div>
              <div class="invalid-feedback">
                Please provide a price.
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="country" class="form-label">Country:</label>
                <input
                  name="listing[country]"
                  placeholder="India"
                  type="text"
                  class="form-control"
                  id="country"
                  required
                />
                <div class="valid-feedback">
                  Country looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a country.
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="location" class="form-label">Location:</label>
                <input
                  name="listing[location]"
                  placeholder="Jaipur, Rajasthan"
                  type="text"
                  class="form-control"
                  id="location"
                  required
                />
                <div class="valid-feedback">
                  Location looks Acurate!
                </div>
                <div class="invalid-feedback">
                  Please provide a location.
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Add</button>
            <br>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
